*{
	box-sizing:border-box;
}
$prefix :heli-;
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
};
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:focus,
  &.focus {	
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }
}
// button variables
$btn-font-weight:normal;
$btn-line-height-base:1.4;
$btn-font-size-base:13px;
$btn-padding-vertical-base:6px;
$btn-padidng-horizontal-base:12px;
.#{$prefix}btn{
	outline:none;
	display: inline-block;
 	text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;

    @include button-size($btn-padding-vertical-base, $btn-padidng-horizontal-base,13px,1.4,5px);
    @include button-variant(#ffffff, #f17c67, #f17c67);
  	font-weight: $btn-font-weight;
}