<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
</head>
<body>
<%  for(var i in htmlWebpackPlugin.files.css){ %>
		<link rel="alternate" href=<%=htmlWebpackPlugin.files.css[i]%>>
	<% } %>
	<%= htmlWebpackPlugin.options.date %>
	<br>
	<br>
	<br>
	<% for(var key in htmlWebpackPlugin) { %>
		<%= key %>
		<br>
	<% } %> 
	<br>
	<br>
	<br>
	<% for(var key in htmlWebpackPlugin.files) { %>
		<%= key %>:
		<%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
		<br>
	<% } %>
	<br>
	<br>
	<br>
	<% for(var key in htmlWebpackPlugin.options) { %>
		<%= key %>:
		<%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
		<br>
	<% } %>
	<%  for(var i in htmlWebpackPlugin.files.js){ %>
	<% } %>

</body>
</html>